html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.search{
	position: absolute;
	background: #39d;
	top: 0;  
	left: 0%;
	width: 100%;
	height: 20%;
	border: none;
}
div.search p{
	text-align: center;
	font-size: 24px;
	padding-top:10px;
}
div.search form{
	text-align: center;
	padding-top:20px;
}

#container {
	position: absolute;
	right: 0%;
	bottom: 0%;
	width: 50%;
	height: 50%;
}

div.basicMess{
	position: absolute;
	background: mistyrose;
	left: 0%;
	top: 20%;
	width: 50%;
	height: 30%;
}

div.cityWeather{
	position: absolute;
	background: peachpuff;
	right: 0%;
	top: 20%;
	width: 50%;
	height: 30%;
}

div.tourismList{
	position: absolute;
	background: papayawhip;
	left: 0%;
	top: 50%;
	width: 50%;
	height: 50%;
}

/* Made by 1853444 崔鑫宇  
Date：	10/22/2020 */